#jumbotron {
    padding: 100px 0;

    #container-jumbotron {
        height: 450px;
        width: 70%;
        margin: auto;

        &.clearfix {
            @include clearfix;
        }

        #jumbotron-left {
            height: 100%;
            width: 50%;
            float: left;
            padding-right: 30px;

            h1 {
                font-size: 45px;
                margin-top: 0;
                line-height: 65px;
            }

            p {
                font-size: 20px;
            }

            #buttons {
                margin-top: 30px;
                margin-bottom: 15px;

                button {
                    padding: 10px 20px;
                    font-size: 13px;
                    color: white;
                    background-color: $colore_bottone;
                    border: 1px solid $colore_bottone;
                    border-radius: 10px;

                    &:hover {
                        background-color: $colore_bottone_hover;
                        border: 1px solid $colore_bottone_hover;
                    }
                }
            }
        }

        #jumbotron-right {
            height: 100%;
            width: 50%;
            float: left;

            img {
                width: 100%;
            }
        }
    }
}

/***************FINE JUMBOTRON*****************/

#images {
    padding: 30px 0;
    background-color: $colore_principale;

    #container-images {
        width: 70%;
        margin: auto;

        #images-top {

            #top-title {
                text-align: center;
                max-width: 600px;
                margin: auto;

                h2 {
                    margin: 50px 0;
                }
            }

            #top-middle {
                height: 230px;
                padding: 0 100px;

                &.clearfix {
                    @include clearfix;
                }

                #top-left {
                    float: left;
                    width: 30%;
                    height: 100%;
                    margin-right: 5%;
                    text-align: center;

                    img {
                        @include images;
                    }
                }

                #top-center {
                    float: left;
                    width: 30%;
                    height: 100%;
                    margin-right: 5%;
                    text-align: center;

                    img {
                        @include images;
                    }
                }

                #top-right {
                    float: left;
                    width: 30%;
                    height: 100%;
                    text-align: center;

                    img {
                        @include images;
                    }
                }
            }

            #top-bottom {
                text-align: center;
                margin-bottom: 100px;

                img {
                    height: 250px;
                    margin: auto;
                }
            }
        }

        #images-bottom {

            #bottom-title {
                text-align: center;
                max-width: 600px;
                margin: auto;

                h2 {
                    margin: 50px 0;
                }
            }

            #bottom-middle {
                height: 230px;
                padding: 0 100px;

                &.clearfix {
                    @include clearfix;
                }

                #bottom-left {
                    float: left;
                    width: 30%;
                    height: 100%;
                    margin-right: 5%;
                    text-align: center;

                    img {
                        @include images;
                    }
                }

                #bottom-center {
                    float: left;
                    width: 30%;
                    height: 100%;
                    margin-right: 5%;
                    text-align: center;

                    img {
                        @include images;
                    }
                }

                #bottom-right {
                    float: left;
                    width: 30%;
                    height: 100%;
                    text-align: center;

                    img {
                        width: 50px;
                        height: 100px;
                        margin-bottom: 20px;
                    }
                }
            }

            #bottom-bottom {
                text-align: center;
                margin-bottom: 80px;

                img {
                    height: 250px;
                    margin: auto;
                }

                h2 {
                    margin-top: 100px;
                }
            }
        }
    }
}

/******************************FINE IMAGES*****************************/

#feedback {
    padding:80px 0;

    #container-feedback {
        width: 100%;

        &.clearfix {
            @include clearfix;
        }

        #feedback-left {
            width: 50%;
            height: 100%;
            float: left;

            img {
                width: 100%;
            }
        }

        #feedback-right {
            width: 25%;
            height: 100%;
            float: left;
            padding: 10px;

            h2 {
                margin-bottom: 30px;
            }

            p {
                font-size: 20px;
                margin-bottom: 25px;
            }

            a {
                text-decoration: none;
                color: $colore_bottone;
                font-size: 20px;
            }

            img {
                width: 270px;
                margin-left: 30px;
                margin-top: 40px;
            }
        }
    }
}

/****************************FINE FEEDBACK*****************************/

#survey {
    padding: 80px 0;

    #container-survey {
        width: 100%;

        &.clearfix {
            @include clearfix;
        }

        #survey-right {
            width: 30%;
            height: 100%;
            float: left;
            margin-left: 20%;
            padding: 10px;

            h2 {
                margin-bottom: 30px;
            }

            p {
                font-size: 20px;
                margin-bottom: 25px;
            }

            a {
                text-decoration: none;
                color: $colore_bottone;
                font-size: 20px;
            }

            img {
                width: 270px;
                margin-right: 30px;
                margin-top: 40px;
            }
        }

        #survey-left {
            width: 50%;
            height: 100%;
            float: left;

            img {
                width: 100%;
            }
        }
    }
}

/************************************FINE SURVEY****************************/
